<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome My RPG Game</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>

<body>
    <div class="title">
        <h1>Welcome My RPG Game</h1>
    </div>
    <div class="login">
        <h2>ログイン</h2>
        <form action="" method="post">

            <input type="text" id="username" placeholder="UserName">
            <br>
            <input type="password" id="password" placeholder="Password">
            <br>
            <input type="submit" name="" id="submit" value="ログイン">
            <input type="reset" name="" id="reset" value="clear">
        </form>
    </div>

    <div>
        <p>まだ登録されていませんか？<a href="register.html" target="_blank">新規登録</a>
        </p>

    </div>


</body>

</html>