<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
    <link rel="stylesheet" href="../static/CSS/register.css">
</head>

<body>
    <div class="title">
        <h1 class="">新規登録</h1>
    </div>
    <form action="" method="post">
        <div class="user_title">UserName:</div>

        <input type="text" placeholder="UserNameを入力してください" class="user">

        <div class="pass_title">Password:</div>

        <input type="password" placeholder="Passwordを入力してください" class="pass">

        <div class="pass_title">Password確認:</div>

        <input type="password" placeholder="もう一度Passwordを入力してください" class="pass">

        <input type="submit" value="登録" class="submit">
        <input type="reset" value="clear" class="clear">
    </form>
</body>

</html>